<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- shoppingcart -->
<mapper namespace="com.sskjdata.wms.mapper.ShoppingcartMapper">
    <!-- 字段映射 -->
    <resultMap id="shoppingcartMap" type="com.sskjdata.wms.entity.ShoppingcartEntity">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="INTEGER" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        shoppingcart.id, shoppingcart.user_id, shoppingcart.product_id, shoppingcart.num
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="findByCondition" resultMap="shoppingcartMap">
        SELECT
            <include refid="allColumns" />
        FROM shoppingcart shoppingcart WHERE 1 = 1
        <if test="userId != null">
            AND shoppingcart.user_id = #{userId}
        </if>
        <if test="productId != null">
            AND shoppingcart.product_id = #{productId}
        </if>
        <if test="num != null">
            AND shoppingcart.num = #{num}
        </if>
    </select>

    <!-- 根据主键批量删除数据 -->
    <delete id="deleteByIds" parameterType="list">
        DELETE FROM shoppingcart WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getShoppingByUserId" parameterType="com.sskjdata.wms.dto.UserByIdReq" resultType="hashmap">
        SELECT
        s.id,
        s.product_id productID,
        p.product_name productName,
        p.product_picture productImg,
        p.product_price price,
        s.num,
        ROUND(p.product_num/2) maxNum
        from shoppingcart s
        LEFT JOIN product  p on s.product_id = p.product_id
        where s.user_id = #{userId}
    </select>

    <delete id="deleteByUserIdAndProductId" parameterType="com.sskjdata.wms.dto.ShoppingcartDeleteReq" >
        delete from shoppingCart where user_id =#{userId} and product_id =#{productId}
    </delete>

    <select id="getCartByUserIdAndProductId" parameterType="com.sskjdata.wms.entity.ShoppingcartEntity" resultType="hashmap">
        select * from shoppingCart where user_id = #{userId} and product_id = #{productId}
    </select>

    <update id="updateShoppingcart" parameterType="com.sskjdata.wms.dto.ShoppingcartUpdateReq">
        update shoppingCart set num =#{num} where user_id =#{userId} and product_id =#{productId}
    </update>

</mapper>